<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mada">
  
  <xacro:property name="base_length" value="0.8" />
  <xacro:property name="base_radius" value="0.3" />
  <xacro:property name="neck_length" value="0.1" />
  <xacro:property name="neck_radius" value="0.1" />
  <xacro:property name="head_size" value="0.4" />
  <xacro:property name="base_size_x" value="0.7" />
  <xacro:property name="base_size_y" value="0.7" />
  <xacro:property name="base_size_z" value="0.2" />
  <xacro:property name="wheel_length" value="0.15" />
  <xacro:property name="wheel_radius" value="0.05" />
  <xacro:property name="arm_width" value="0.1" />
  <xacro:property name="arm_bodylen" value="0.1" />
  <xacro:property name="forearm_width" value="0.05" />
  <xacro:property name="forearm_bodylen" value="0.4" />


  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  
</robot>
