<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mada">

<xacro:include filename="$(find mada_description)/urdf/common.xacro"/> 
<xacro:include filename="$(find mada_description)/urdf/mobile_base.gazebo.xacro"/> 
<xacro:include filename="$(find mada_description)/urdf/mobile_base.xacro"/> 
<xacro:include filename="$(find mada_description)/urdf/arm.gazebo.xacro"/> 
<xacro:include filename="$(find mada_description)/urdf/arm.xacro"/> 
<xacro:include filename="$(find mada_description)/urdf/arm_standalone.xacro"/> 

</robot>
