<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:macro name="scara_cpe_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
    
      <hardware>
        <plugin>dynamixel_hardware/DynamixelHardware</plugin>
        <param name="usb_port">/dev/ttyACM0</param>
        <param name="baud_rate">1000000</param>
        <param name="joint_ids">1,2</param>
      </hardware>
      
      <joint name="shoulder_1_joint">
        <param name="id">1</param>
        <param name="Return_Delay_Time">0</param>
        <param name="CW_Angle_Limit">0</param>
        <param name="CCW_Angle_Limit">1023</param>
        <param name="Moving_Speed">1023</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      
      <joint name="shoulder_2_joint">
        <param name="id">2</param>
        <param name="Return_Delay_Time">0</param>
        <param name="CW_Angle_Limit">0</param>
        <param name="CCW_Angle_Limit">1023</param>
        <param name="Moving_Speed">1023</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
    </ros2_control>

  </xacro:macro>



  <xacro:macro name="scara_cpe_ros2_emagnet_control" params="name">

    <!-- TODO : ros2_control emagnet -->

  </xacro:macro>






</robot>
